AuthType Basic
AuthName "Ganz geheime Zone"
AuthUserFile /blah/blah/blah
Require valid-user
Order deny,allow
Deny from all
Allow from 92.79.12.242
Allow from 188.93.8.46
Satisfy any
AddType application/x-httpd-php5 .php 